.artistlist-container {
  display: flex;
  height: 100vh;
  width: 100%;
  background: #f7f7f7;
}

/* left nav */
.left-nav {
  width: 220px;
  background: #6e114b; 
  padding: 5px 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  box-shadow: 8px 0 40px rgba(0,0,0,0.35);
}

.nav-logo { 
  width: 160px; 
  height: auto;  
  filter: drop-shadow(0 6px 20px rgba(0,0,0,0.5)); 
}

.nav-links { 
  display:flex; 
  flex-direction: column; 
  gap: 18px; 
  width:100%; 
}

.nav-link {
  background: transparent;
  border: none;
  text-align: left;
  color: #f7dff7;
  font-weight: 600;
  padding: 8px 0;
  font-size: 18px;
  cursor: pointer;
  opacity: 0.95;
  text-decoration: none;
}

.nav-link.active { 
  color: white; 
  font-size: 20px; 
}

/* main area */
.dashboard-main {
  flex: 1;
  padding: 36px 48px;
  position: relative;
}

/* header */
.dashboard-header h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 22px;
  color: rgba(255,255,255,0.9);
}

/* ----- MAIN ----- */
.artist-main {
  flex: 1;
  padding: 40px;
}

/* TOP STATS */
.top-stats {
  display: flex;
  gap: 20px;
}

.stat-box {
  flex: 1;
  background: white;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  color: white;
}

.purple1 {
  background: #b84a9a;
  cursor: pointer;
}

.purple2 {
  background: #840061;
  cursor: pointer;
}

.stat-title {
  font-size: 18px;
}

.stat-value {
  font-size: 48px;
  margin: 15px 0;
}

.stat-line {
  width: 80%;
  height: 2px;
  background: rgba(255,255,255,0.5);
  margin: 0 auto;
}

/* ----- ARTIST CARD ----- */
.artist-card {
  margin-top: 40px;
  background: #7b005a;
  border-radius: 25px;
  padding: 25px;
  color: white;
}

.artist-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.playlist-btn {
  background: #c15aad;
  border: none;
  color: white;
  padding: 8px 15px;
  border-radius: 10px;
  cursor: pointer;
}

/* ARTIST LIST GRID */
.artist-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 25px;
  column-gap: 50px;
}

.artist-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.artist-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.artist-name {
  font-size: 17px;
}

.empty-text {
  color: #ddd;
}
